@charset "UTF-8";

/* admin.css */

.cfshoppingcart_options h4 {
    margin: 10px 0 0 0;
}

.cfshoppingcart_options th {
    text-align: left;
}
.cfshoppingcart_options th.eg {
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}

.cfshoppingcart_options .update_submit {
    background-color: #0D72B2;
    color: #ffffff;
}

#shipping #sortable li {
    cursor: pointer;
}

.cfshoppingcart_options table.table-bordered input[type="text"],
.cfshoppingcart_options table.table-bordered select {
    min-width: 200px;
}

.cfshoppingcart_options div#shipping input[type="text"] {
    width: 120px;
}

/* welcom panel */

.welcome-panel p.message {
    line-height: 1.4em;
    margin-right: 25px;
}

.welcome-panel-close {
    z-index: 2;
}

.support-link {
    float: right;
    margin-right: 4px;
}

#welcome-panel {
    clear: both;
    padding-top: 10px;
}
.welcome-panel h4 {
    padding-top: 0px;
    margin-top: 0px;
}

#welcome-panel.welcome-panel .welcome-panel-close.button:before {
    content: "";
}

.welcome-panel-column-one {
    margin-right: 10%;
}