@charset "utf-8";
/*
 * cfshoppingcart.css
 * -*- Encoding: utf8n -*-
 */

.cfs_top_link {
  text-align: right;
  margin: 0 5px 0px 0;
  width: 94%;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 5px 5px 0;
  width: 94%;
}


legend {
  margin: 0 0 0 10px;
}

.infield {
  padding: 5px;
}


