@charset "utf-8";
/*
 * cfshoppingcart.css
 * -*- Encoding: utf8n -*-
 */

div.cfshoppingcart_admin div.cfshoppingcart_admin-links {
  text-align: right;
  font-size: .8em;
  margin-top: -1.6em;
  margin-right: 8px;
}

div.cfshoppingcart_admin div.cfshoppingcart_admin-links a {
  text-decoration: none;
}

/*
textarea#orderer_input_screen_text {
  width: 100%;
}
*/

div.postdivrich textarea {
  width: 100%;
}

textarea.license {
  width: 100%;
}

/*
.cfs_top_link {
  text-align: right;
  margin: 0 5px 0px 0;
  width: 94%;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 5px 5px 0;
  width: 94%;
}


legend {
  margin: 0 0 0 10px;
}

.infield {
  padding: 5px;
}
*/

